@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

* {
    box-sizing: border-box;
    
}

html, body {
    scroll-behavior: smooth;

}

body {
    background-image: url("Beige\ Skincare\ Product\ Landing\ Page\ Template\ \(1\).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: white;
    overflow-x: hidden;

}


/* NAV BAR -----------*/
.navegacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    
}

.logo {
    
}

header {
    float: left;
    margin: 10px;
    padding: 10px;
}

header a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    
}

nav {
    margin: 10px 30px;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 5px 0 0 0;
    padding: 0;
    float: right;
    
}

nav li {
    display: inline;
    
}

nav a {
    text-decoration: none;
    padding: 1em;
    color: white;
    display: block;
    text-align: center;
    
    
}

nav a:hover {
    color: rgb(124, 124, 124);
    transition-duration: 0.1s;
}


/*SISTEMA SOLAR*/

.sistema {
    margin: 0;
    width: 100%;
}




/* PRIMERA SECCION - SOL -----------*/

section {
    width: 80%;
    margin: 50px auto;
    padding: 100px 0;
    
}

.infomasimg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
}

.sol_img {
    display: flex;
    
}

.sol_img img {
    width: 500px;
    margin: auto;
}

.info {
    margin: auto;
}

.info_extra {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    grid-gap: 10px;
}

.masinfo {
    border: 0.3px rgb(131, 130, 130) solid;
    display: inline-block;
    justify-content: center;
    border-radius: 3px;
}

.masinfo h3 {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 15px;
    font-weight: 1;
}

.masinfo p {
    text-align: center;
    margin: 0 0 5px 0;
    font-size: 30px;
}


/* MERCURIO */

.mercurio_img {
    display: flex;
    justify-content: center;
}

.mercurio_img img {
    width: 320px;
}

/* VENUS */

.venus_img {
    display: flex;
    justify-content: center;
    margin: 0;
}

.venus_img img {
    width: 380px;
}

/* TIERRA */

.tierra_img {
    display: flex;
    justify-content: center;
    margin: 0;
}

.tierra_img img {
    width: 400px;
}

/* MARTE */

.marte_img {
    display: flex;
    justify-content: center;
    margin: 0;
}

.marte_img img {
    width: 280px;
}

/* JUPITER */

.jupiter_img {
    display: flex;
    justify-content: center;
    margin: 0;
}

.jupiter_img img {
    width: 430px;
}

/* SATURNO */

.saturno_img {
    display: flex;
    justify-content: center;
    margin: 0;
}

.saturno_img img {
    width: 680px;
}

/* URANO */

.urano_img {
    display: flex;
    justify-content: center;
    margin: 0;
}

.urano_img img {
    width: 300px;
}

/* NEPTUNO */

.neptuno_img {
    display: flex;
    justify-content: center;
    margin: 0;
}

.neptuno_img img {
    width: 280px;
}


footer {
    background-color: black;
    padding: 20px 30px;
    
}

.contacto {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.contacto a {
    text-decoration: none;
    color: white;
    
}

.redes a {
    font-size: 40px;
    padding: 0 10px;
}
